body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  text-align: center;
  color: #222;
  margin: 0;
}

h1 {
  color: #2c3e50;
  margin-top: 20px;
}

#latest {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chart-container {
  width: 90%;
  max-width: 850px;
  margin: auto;
}

canvas {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
